@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

 .auth-icon{
    @apply absolute left-0 top-0 w-10 h-full flex items-center p-2 text-white bg-red-500 dark:border-red-600 rounded-tl-lg rounded-bl-lg
  }

  .form-style {
    @apply bg-red-500 border border-red-500 text-black sm:text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-white dark:border-red-600 dark:placeholder-black dark:text-black dark:focus:ring-red-500 dark:focus:border-red-500 pl-12; 
  }

  .product-card {
    @apply bg-white rounded-lg shadow-lg; 
  }

  .product-image {
    @apply w-full h-64 object-cover rounded-t-lg;
  }
}


.bars{
  margin: 8px 0;
  flex: 1 1 auto;
  display: flex;
  gap: 8px;
  height: 6px;
  border-radius: 3px;
  background: #dfe1f0;
}

.bars div{
  height: 6px;
  border-radius: 3px;
  transition: .4s;
  width: 0%;
}

.bars.weak div{
  background: #e24c71;
  width: 33.33%;
}

.bars.medium div{
  background: #f39845;
  width: 66.66%;
}

.bars.strong div{
  background: #57c558;
  width: 100%;
}

.strength{
  text-align: left;
  height: 10px;
  text-transform: capitalize;
  color: #868b94;
}